:root {
  --pColor: white;
  --sColor: black;
}



h1 {
  font-size: 32px; 
  font-weight: bold;
  text-align: center;
  color: white;
}

.container {
  height: 40px;
  display: flex; 
  justify-content: center; 
  margin-bottom: 12px; 
}

button.createEntry {
  width: 30%;
}

.split 
  display: flex; 
  justify-content: center;
}

.btn-group {
  display: flex;
  gap: 8px; 
  align-items:center;
}

button.toggleStyle {
  padding: 8px 16px; 
  border: 1px solid black;
  background: white; 
  border-radius: 4px; 
}


