:root {
  --pColor: grey; 
  --sColor: white; 
}

body {
  background-color: var(--pColor); 
}

header {
  font-size: 32px; 
  font-weight: bold; 
  text-align:center;
  margin-bottom: 32px;
  color: var(--sColor);
}

h2 {
  text-align:center;
  margin-bottom:4px;
  color: var(--sColor); 
}


/** ===================== LOGIN ====================**/
.container {
  position: relative;
  width: 35%;
  height: 35%;
  background-color: var(--sColor); 
  padding: 8px; 
  padding-top:4px;
  border: 2px solid black; 
  border-radius: 12px; 
  margin:auto;
  margin-bottom: 5%;
}

.formGroup {
  position:relative;
  width: 100%;
  padding:8px;
  margin:auto;
  margin-top:0;
}

input.formField {
  width:90%;
}

button.acc {
  position: relative;
  width: 30%;
  height: 15%;
  bottom:0;
  left: 50%; 
  transform: translateX(-50%);
}

/** ====================== HOME ====================**/
.profile {
  position:absolute; 
  top: 10%; 
  right: 10%; 
}

button.profileBtn {
  width: 75px; 
  height: 75px; 
  border-radius: 50%; 
  border: 2px solid var(--sColor); 
  background-color: green; 
}

.apps {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  left: 50%; 
  transform: translateX(-50%);
  margin-top: 5%; 
}

.appListChildren {
  margin-bottom: 5%;

}

button.appChildrenBtn {
  width: 400px;
  height: 75px; 
  border-radius: 8px;
  
  font-size: 32px; 
  font-weight: bold; 
  font-style: italic;
  text-align: left; 

  padding-left: 10%; 
}
