:root {
  --pColor: #bf23bf; 
  --sColor: white; 
}

html, body, #root {
  height: 100%;
  padding: 0;
}

body {
  background-color: var(--pColor); 
}

header {
  font-size: 32px; 
  font-weight: bold; 
  text-align:center;
  margin-bottom: 32px;
  color: var(--sColor);
}

h2 {
  font-size: 32px;
  text-align:center;
  color: black; 
}

/***********************************MAIN COMPONENTS *********************************/
.box {
  position: relative;
  width: 35%;
  min-width: 500px; 
  height: 35%;
  min-height: 275px; 
  background-color: var(--sColor); 
  padding: 16px; 
  border: 2px solid black; 
  border-radius: 12px; 
  margin:auto;
}

.formGroup {
  position:relative;
  width: 100%;
  text-align: left; 
  padding:8px;
  margin:auto;
  margin-top:0;
}

.floatingContainer {
  position: fixed; 
  top: 0; left: 0; bottom: 0; right: 0; 
  margin:auto; 
  width: 450px; 
  height: 400px; 

  background-color: white;
  border-radius: 16px; 
  border: 5px solid grey;    
  
  color: black; 
  font-weight: bold; 
  font-size:25px; 
  z-index:100; 
}

.floating-form {
  width: 90%;
  height: 100%; 
  padding-top: 1px;
  margin: auto;
  color: grey; 
  font-size: 16px;
}

input.formField {
  width:90%;
}

button.submitForm {
  position: relative;
  width: 30%;
  height: 15%;
  max-height: 40px; 
  bottom:0;
}

/******************************* HOME *********************/
.appsList {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  left: 50%; 
  transform: translateX(-50%);
  margin-top: 5%; 
}

button.appChildrenBtn {
  width: 400px;
  height: 75px; 
  border-radius: 8px;

  font-size: 32px; 
  font-weight: bold; 
  font-style: italic;
  text-align: left; 

  padding-left: 10%; 
}

/*************************** EXPENSE *********************/
.balance{
  color: var(--secondary-color); 
  font-size: 30px; 
  font-weight: bold; 
  text-align: center; 
}

