:root {
  --pColor: grey; 
  --sColor: white; 
}

body {
  background-color: var(--pColor); 
}

header {
  font-size: 32px; 
  font-weight: bold; 
  text-align:center;
  margin-bottom: 32px;
  color: var(--sColor);
}

h2 {
  text-align:center;
  margin-bottom:4px;
  color: black; 
}

.App {
  text-align: center;
}

/***********************************MAIN COMPONENTS *********************************/
.container {
  position: relative;
  width: 35%;
  height: 35%;
  background-color: var(--sColor); 
  padding: 8px; 
  padding-top:4px;
  border: 2px solid black; 
  border-radius: 12px; 
  margin:auto;
  margin-bottom: 5%;
}

.formGroup {
  position:relative;
  width: 100%;
  padding:8px;
  margin:auto;
  margin-top:0;
}

.floatingContainer {
  position: fixed; 
  top: 0; left: 0; bottom: 0; right: 0; 
  margin:auto; 
  width: 450px; 
  height: 500px; 

  background-color: white;
  border-radius: 16px; 
  border: 5px solid grey;    
  
  text-align:center;  
  color: black; 
  font-weight: bold; 
  font-size:25px; 

  z-index:100; 
}

.floating-form {
  width: 90%;
  height: 100%; 
  padding-top: 1px;
  margin: auto;
  color: grey; 
  font-size: 16px;
}

input.formField {
  width:90%;
}

button.submitForm {
  position: relative;
  width: 30%;
  height: 15%;
  bottom:0;
  left: 50%; 
  transform: translateX(-50%);
}

/******************************* HOME *********************/
.appsList {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  left: 50%; 
  transform: translateX(-50%);
  margin-top: 5%; 
}

button.appChildrenBtn {
  width: 400px;
  height: 75px; 
  border-radius: 8px;

  font-size: 32px; 
  font-weight: bold; 
  font-style: italic;
  text-align: left; 

  padding-left: 10%; 
}

/*************************** EXPENSE *********************/
.balance{
  color: var(--secondary-color); 
  font-size: 30px; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 8px; 
}

.search{
  margin-bottom: 16px; 
  display:flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap:6px; 
  font-size: 14px; 
}
