:root {
  --pColor: grey; 
  --sColor: white; 
}

body {
  background-color: var(--pColor); 
}

header {
  font-size: 32px; 
  font-weight: bold; 
  text-align:center;
  margin-bottom: 32px;
  color: var(--sColor);
}

h2 {
  text-align:center;
  margin-bottom:4px;
  color: black; 
}


/** ===================== LOGIN ====================**/
.container {
  position: relative;
  width: 35%;
  height: 35%;
  background-color: var(--sColor); 
  padding: 8px; 
  padding-top:4px;
  border: 2px solid black; 
  border-radius: 12px; 
  margin:auto;
  margin-bottom: 5%;
}

.formGroup {
  position:relative;
  width: 100%;
  padding:8px;
  margin:auto;
  margin-top:0;
}

input.formField {
  width:90%;
}

button.acc {
  position: relative;
  width: 30%;
  height: 15%;
  bottom:0;
  left: 50%; 
  transform: translateX(-50%);
}


